/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 顶部搜索栏 */


.search-bar {
    position: fixed;
    top: 0;
    left: 240px;
    width: calc(100vw - 200px);
    height: 50px;
    background-color: var(--search-bar--bgc);
    /* background-color: #333; */
    border-bottom: 1px solid rgba(229, 229, 229);
    transition: all 0.3s;
    z-index: 1000;
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    ; */
    /* color: yellow; */
}

.search-bar .to_left {
    float: left;
    margin: 15px 30px 0 50px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: var(--search-bar-left-c);
}

.search-bar .to_right {
    float: left;
    margin-top: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: var(--search-bar-right-c);
}


.search-bar .input_ input {
    width: 90%;
    padding: 8px;
    font-size: 12px;
    border: none;
    border-radius: 12px;
    background-color: rgba(242, 242, 243);
    margin-top: 10px;
}

.search-bar .download {
    float: right;
    height: 20px;
    margin-top: 15px;
}

.search-bar .setting {
    float: right;
    margin-right: 70px;
    height: 20px;
    margin-top: 13px;
}

.search-bar .input_ {
    float: right;
    width: 30%;
    height: 60px;
    padding-right: 0;
}

/* 左侧歌单栏 */
.sidebar {
    position: fixed;
    top: 0;
    /* 避开搜索栏 */
    left: 20px;
    width: 200px;
    height: calc(100vh - 80px);
    /* 减去搜索栏和播放栏的高度 */
    /* background-color: rgba(248, 248, 248); */

    color: (153, 153, 165);

    z-index: 999;
}

.sidebar_up {
    margin-top: 60px;
    color: var(--sidebar_up-c);
    background-color: var(--sidebar_up-bgc);
    border-radius: 20px 20px 0 0;
}

/* .sidebar_up_bottom {
    border-bottom: 1px solid rgba(229, 229, 229);
} */

#hotmusic {
    display: flex;
}

#hotmusic_image {
    width: 30px;
    height: 20px;
    background-color: pink;

}

.sidebar_in {
    height: calc(100vh - 250px);
    background-color: var(--sidebar_in-bgc);
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    /* 允许垂直滚动 */
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar .list {
    width: 150px;
    padding: 10px;
    padding-left: 12px;
    margin-left: 10px;
    height: 22px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--sidebar-list-c);
}

.content .box {
    cursor: pointer;
}


#createPlaylist:hover {
    background-color: rgba(1, 122, 254);
    color: whitesmoke;
}

#favoritePlaylist:hover {
    background-color: rgba(1, 122, 254);
    color: whitesmoke;
}

#hotmusic:hover {
    background-color: rgba(1, 122, 254);
    color: whitesmoke;
}


/* 右侧内容区域 */
.content {
    margin-left: 200px;
    /* 避开左侧歌单栏 */
    margin-top: 165px;
    /* 避开顶部搜索栏 */
    /* margin-bottom: 80px; */
    /* 避开底部播放栏 */
    padding: 20px;
    overflow-y: auto;
    /* 允许垂直滚动 */
    height: calc(100vh - 250px);
    /* 减去搜索栏和播放栏的高度 */
    padding: 20px 50px 0;
}



/* 底部播放栏 */
.playerbar {
    position: fixed;
    bottom: 6px;
    left: 1%;
    width: 97%;
    height: 90px;
    background-color: var(--playerbar-bgc);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.exchange {
    padding-top: 10px;
    position: fixed;
    /* background-color: pink; */
    margin-top: 0;
    top: 52px;
    left: 250px;
    /* width: 500px; */
    height: 40px;
    transition: left 0.3s;
}



li {
    float: left;
    color: rgb(120, 120, 120);
    cursor: pointer;
    transition: all 0.2s;
}

li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;

}

.active {
    font-weight: 700;
    font-size: 24px;
    color: var(--li-active-c);
    padding: 2px;
    border-radius: 12px;
    border-bottom: 2px solid black;
    background-color: var(--li-hover-bgc);
}

.exchange li:hover {
    font-weight: 700;
    font-size: 24px;
    color: var(--li-active-c);
    padding: 2px;
    border-radius: 12px;
    border-bottom: 2px solid black;
    background-color: var(--li-hover-bgc);
}

.exchange ul {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    list-style: none;
    /* 去除默认的圆点 */
    padding: 0;
    /* 去除默认的内边距 */
    margin: 0;
    /* 去除默认的外边距 */
}

.music_types {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    top: 105px;
    left: 250px;
    height: 60px;
    /* background-color: pink; */
    transition: left 0.3s;
}

/* 每个音乐类型 */
.music_types_list,
.ellipsis {
    font-weight: 700;
    margin-right: 10px;
    height: 40px;
    padding: 3px 15px;
    background-color: var(--music_types_list-bgc);
    border-radius: 12px;
    cursor: pointer;
    line-height: 40px;
    color: var(--music_types_list-c);
    overflow: hidden;
}

.music_types_list:hover {
    color: rgba(1, 122, 254);
    background-color: var(--music_types_list-bgc2);
}

.ellipsis:hover {
    color: rgba(1, 122, 254);
    background-color: var(--music_types_list-bgc2);
}

.music_types_list_active {
    color: rgba(1, 122, 254);
    background-color: var(--music_types_list-bgc2);
}


/* 省略号 */
/* .ellipsis {
    /* display: none; */
/* 默认隐藏 */

.sidebar .list {
    /* width: 20px; */
    overflow: hidden;
}