.setting {
    cursor: pointer;
}

.setting_down {
    position: fixed;
    left: 240px;
    width: calc(100vw - 200px);
    top: 50px;
    height: 110px;
    background-color: var(--setting_down-bgc);
    transform: translateY(-100%);
    /* 初始隐藏 */
    z-index: 999;
    transition: transform 0.7s;
}

.setting_active {
    transform: translateY(0);
}

.setting_down p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 60px;
    color: var(--setting_down-p-bgc);
}

.setting_theme {
    width: 100%;
    height: 60px;
    /* background-color: pink; */
    border-top: 1px solid rgb(95, 92, 92);
}

.a {
    margin-left: 60px;
    position: relative;
    float: left;
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
    font-weight: 700;
    color: black;
    line-height: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: width 1.2s, margin-left 1.2s;
    line-height: 40px;
}

.b {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
    line-height: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: width 1.2s, transform 1.2s;
    line-height: 40px;
}

.c {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 100%;
    background-color: black;
    border-left: 25px solid whitesmoke;
    border-bottom: 40px solid black;
}

.a,
.b {
    margin-top: 10px;
    cursor: pointer;
}

#download_img {
    height: 20px;
    width: 20px;
    /* background-color: pink; */
    /* background-image: url(../svg/download_light.svg); */
    background-size: cover;
    color: var(--download_img-c);
}

#setting_img {
    margin-top: 2px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    /* background-color: red; */
    /* background-image: url(../svg/setting_light.svg); */
    background-size: cover;
    color: var(--setting_img-c);
}

#search_button {
    margin-top: 15px;
    margin-left: 20%;
}