.sidebar_create {
    transition: width 0.3s ease;
}

.sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar .sidebarin_active {
    width: 20px;
}

.sidebar_active {
    width: 60px;

}

.search_bar_active,
.music_types_active,
.exchange_active {
    left: 100px;
}

.sidebar_create_image {
    float: left;
    height: 22px;
    width: 22px;
    margin-right: 10px;
    margin-right: 10px;
    /* background-image: url("../image/添加歌单.png"); */
    background-size: cover;
}

.sidebar_create .text {
    display: inline-block;
}

/* 菜单项 */
.menu-item {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
    position: relative;
    /* 为弹出内容定位 */
}

/* 内容面板 */
.sidebar_content {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.panel {
    position: absolute;
    top: 100%;
    /* 初始隐藏在下方 */
    left: 0;
    right: 0;

    transition: top 0.3s;
    /* z-index: 1; */
    /* 确保面板在菜单项上方 */
}

/* 显示面板 */
.list_appear {
    top: 0;
    /* 弹出显示 */
}

.sidebar .sidebar_in .sidebar_content .panel .list:hover {
    background-color: var(--sidebar-hover-bgc);
}

.sidebar_shrink {
    display: flex;
    position: relative;
    font-weight: 700;
}

#save_mysql {
    position: absolute;
    right: 50px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 3px;
    /* background-color: pink; */
    cursor: pointer;
}